* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.main {
    margin: 0 40rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.hero {
    width: 75rem;
    height: 35rem;
    text-align: center;
}
.hero-img__container {
    padding-top: 4rem;
}
.hero-img {
    height: 20rem;
    border-radius: 100%;
}
.hero-title{
    padding: 1.4rem 0 0.2rem 0;
    font-size: 2.4rem;
}
.hero-subtitle{
    font-size: 1.6rem;
    color: lightslategrey;
}
.hero-links{
    padding: 1rem 0;
}
.hero-links__item {
    display: inline-block;
    padding: 0 0.4rem;
    
}
.hero-links__item img {
    height: 3rem;
}   
.hero-links__item img:hover{
    background-color: rgb(255, 156, 90);
    border-radius: 100%;
}


/* wrapper section */
.wrapper {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

.box {
    /* background-color: rgb(238, 238, 238); */
    border-radius: 0.8rem;
    border: 0.1rem solid black;
}
.box:hover{
    box-shadow: 2px 2px 2px 1px rgb(255, 156, 90);
}
.box-header {
    display: flex;
    padding: 1.6rem 0 0 1.6rem;
    /* justify-content: center; */
}
.box-icon {
    height: 2.2rem;
}
.box-title {
    padding-left: 0.6rem;
    font-size: 1.8rem;
}
.box-text{
    padding: 1.8rem 0 2rem 1.2rem;
    font-size: 1.6rem;
}
.box-text__item {
    display: flex;
    padding-bottom: 1.6rem;
    list-style: none;
}
.arrow {
    padding-right: 0.4rem;
}